@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles if needed */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
